body{
	background-color: #B2D1EC;
}
.b_img{
    height: 75vh;
    opacity: 0.9;
}
.name_style{
    font-family: Comic Sans MS;
    color: #BB98CE;
}
.our_shop,.client{
	color: #AA7698;
}
.rounded-start
{
	height:150px; 
	width:250px; 
	margin-top:15px;
}
.cake-collection{
	height: 340px;
	overflow-y:scroll;
	overflow-x:hidden;
}
.cake-heading{
	font-family:Jazz LET, fantasy;
	color:rgba(1, 98, 147);
	margin-left:80px;
}
.form-heading{
	font-family:Jazz LET, fantasy;
	margin-top:20px;
	color:black;
}
.btn-res{
	height:30px;
 	transition-duration: 0.2s;
	color:white; 
	background-color:rgba(1, 98, 147); 
	margin-left:1320px;
	border: none;
	transition-duration: 0.5s;
}
.btn-res:hover{
	transform: scale(1.1);
	color:#8AD1AA;
}
.card-img-top{
	margin-left:10px;
	margin-top:10px;
	height:200px;
	width:299px;
}
.card-size{
	background-color:#B4A9BA;
	margin-left:80px;
	height:430px;
	width:320px;
	border:3px solid #470C5F;
}
.profile{
	height:117px;
	width:117px;
}
.form{
	border:3px solid #5383d3;
	height:805px;
	background-image: url(images/form-bg.jpg); 
}
.form-group{
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
	color:#46056F;
	font-weight:bold;
}
.form-check{
	margin-top:20px;
	margin-right:20px;
	margin-bottom:20px;
	color:white;
	font-weight:bold;
}
.form-control{
	width:280px;
}
.my-img{
	margin-top:20px;
	margin-left:55px;
	border-radius:50%;
	width:200px;
	height:150px;
}
.add-button{
	margin-left:40px;
	width: 200px;
}
.desp{
	margin-left:80px;
	color:#7BA8CB;
}
footer{
 position: relative;
 bottom: 0;
}
.footer-distributed{
 background-color: #292c2f;
 box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
 box-sizing: border-box;
 width: 100%;
 text-align: left;
 font: bold 16px sans-serif;
 
 padding: 55px 50px;
 margin-top: 80px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
 display: inline-block;
 vertical-align: top;
}
 
.footer-distributed .footer-left{
 width: 40%;
}
 
.footer-distributed h3{
 color:  #ffffff;
 font: normal 36px 'Cookie', cursive;
 margin: 0;
}
 
.footer-distributed h3 span{
 color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
 color:  #ffffff;
 margin: 20px 0 12px;
 padding: 0;
}
 
.footer-distributed .footer-links a{
 display:inline-block;
 line-height: 1.8;
 text-decoration: none;
 color:  inherit;
}
 
.footer-distributed .footer-company-name{
 color:  #8f9296;
 font-size: 14px;
 font-weight: normal;
 margin: 0;
}
 
 
.footer-distributed .footer-center{
 width: 35%;
}
 
.footer-distributed .footer-center i{
 background-color:  #33383b;
 color: #ffffff;
 font-size: 25px;
 width: 38px;
 height: 38px;
 border-radius: 50%;
 text-align: center;
 line-height: 42px;
 margin: 10px 15px;
 vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
 font-size: 17px;
 line-height: 38px;
}
 
.footer-distributed .footer-center p{
 display: inline-block;
 color: #ffffff;
 vertical-align: middle;
 margin:0;
}
 
.footer-distributed .footer-center p span{
 display:block;
 font-weight: normal;
 font-size:14px;
 line-height:2;
}
 
.footer-distributed .footer-center p a{
 color:  #5383d3;
 text-decoration: none;;
}
 
.footer-distributed .footer-right{
 width: 20%;
}
 
.footer-distributed .footer-company-about{
 line-height: 20px;
 color:  #92999f;
 font-size: 13px;
 font-weight: normal;
 margin: 0;
}
 
.footer-distributed .footer-company-about span{
 display: block;
 color:  #ffffff;
 font-size: 14px;
 font-weight: bold;
 margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
 margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
 display: inline-block;
 width: 35px;
 height: 35px;
 cursor: pointer;
 background-color:  #33383b;
 border-radius: 2px;
 
 font-size: 20px;
 color: #ffffff;
 text-align: center;
 line-height: 35px;
 
 margin-right: 3px;
 margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
 .footer-distributed{
 font: bold 14px sans-serif;
 
 }
 
 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
 display: block;
 width: 100%;
 margin-bottom: 40px;
 text-align: center;
 }
 
 .footer-distributed .footer-center i{
 margin-left: 0;
 }
 .main {
 line-height: normal;
 font-size: auto;
 }
 
}



















